<footer>
    <div class="row mt-1 pt-4">
      <div class="col">
        <p class="text-center"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, sequi. Copyright.2020
        </p>
      </div>
    </div>
  </footer> <!-- End oF Footer -->