<!--  head.ejs  -->
<%- include('./includes/head.ejs') %>
</head>

<body>

  <div class="container mb-3">
    <!-- Nav -->
    <!-- navigation.ejs -->
    <%- include('./includes/navigation.ejs') %>
    
    <h5 class="text-center">
        Page Not Found!!
    </h5>


  </div>
  <!--End of Container-->
  
  <!-- end.ejs -->
  <%- include('./includes/end.ejs') %>