<!--  head.ejs  -->
<%- include('../includes/head.ejs') %>
</head>

<body>

  <div class="container mb-3">
    <!-- Nav -->
    <!-- navigation.ejs -->
    <%- include('../includes/navigation.ejs') %>
    
    
    <!-- Main -->
    <p>
        Please get in touch with us
    </p>

    <!-- Footer -->
    <%- include('../includes/footer.ejs') %>

  </div>
  <!--End of Container-->
  
  <!-- end.ejs -->
  <%- include('../includes/end.ejs') %>